@import "tailwindcss";

@theme {
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-300: hsl(252, 6%, 83%);
  --color-neutral-500: hsl(245, 15%, 58%);
  --color-neutral-700: hsl(245, 19%, 35%);
  --color-neutral-900: hsl(248, 70%, 10%);

  --color-orange-500: hsl(7, 88%, 67%);
  --color-orange-700: hsl(7, 71%, 60%);

  --color-gradient-text-from: hsl(7, 86%, 67%);
  --color-gradient-text-to: hsl(0, 0%, 100%);

  --color-font-inconsolata: Inconsolata, monospace;

  --bg-image-mobile: url('/assets/images/background-mobile.png');
  --bg-image-tablet: url('/assets/images/background-tablet.png');
  --bg-image-desktop: url('/assets/images/background-desktop.png');

}

.bg-image-mobile {
  background-image: var(--bg-image-mobile);
}

.bg-image-tablet {
  background-image: var(--bg-image-tablet);
}

.bg-image-desktop {
  background-image: var(--bg-image-desktop);
}

.use-inconsolata {
  font-family: var(--font-inconsolata);
}